@import "tailwindcss";
@import "tw-animate-css";

@layer base {
    :root {
        --text: #181611;
        --background: #e9e7e9;
        --primary: #b8801e;
        --secondary: #f5f3f0;
        --accent: #1da4cd;
        --radius: 0.5rem;
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }

    .dark {
        --border: 216 34% 17%;
        --input: 216 34% 17%;


        --text: #eeece7;
        --background: #191719;
        --foreground: 213 31% 91%;
        --primary: #e1a847;
        --secondary: #0f0d0a;
        --accent: #32b9e2;
    }

    body {
        background-color: var(--background);
        color: var(--text);
        font-feature-settings: "rlig" 1, "calt" 1;
    }

    body,
    html {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .SBW-button > svg {
        display: initial !important;
        vertical-align: baseline !important;
        margin-bottom: -3px;
        margin-right: 10px;
    }

    img, svg, video, canvas, audio, iframe, embed, object {
        display: initial;
        vertical-align: baseline;
    }

    .placeholder {
        color: #1f1f1f;
        text-align: center;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #e1a847;
    }
}

@theme inline {
    --color-text: var(--text);
    --color-background: var(--background);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-foreground: var(--foreground);
}